/*
 * Global variables
 */

:root {

  --fontsize-base:            max(8px,min(0.4vh + 0.6vw,10px));
  --fontsize-tiny:            calc(0.9 * var(--fontsize-base));
  --fontsize-xxsmall:         calc(1.2 * var(--fontsize-base));
  --fontsize-xsmall:          calc(1.4 * var(--fontsize-base));
  --fontsize-small:           calc(1.5 * var(--fontsize-base));
  --fontsize-medium:          calc(2.1 * var(--fontsize-base));
  --fontsize-large:           calc(2.8 * var(--fontsize-base));
  --fontsize-xlarge:          calc(3.5 * var(--fontsize-base));
  --fontsize-xxlarge:         calc(4.5 * var(--fontsize-base));

  --color: #2C3143;
  --tile-bg: #F8F9FA;
  --tile-bg-hover: #E8E9EA;
  --border: #70707033;
  --error: #dc3545;

}


#root {
  overflow-x: auto;
}

html, body {
  font-family: monaco,monospace;
  /*font-family: roboto-mono, Helvetica, Arial, sans-serif;*/
  font-size: var(--fontsize-xsmall);
  display:flex;
  justify-content: center;
}

/*
 * Elements
 */

h1 {
  margin-bottom: 0.4em;
  font-size: var(--fontsize-large);
}
h2 {
  font-size: var(--fontsize-medium);
}
h3 {
  font-size: var(--fontsize-medium);
}
h3, h4 {
  font-size: var(--fontsize-small);
}
a {
  color: #2C3143
}
a:hover {
  color: darkred;
}

.blink {
  animation: blink 3s infinite;
}


.MainViewPort {
  align-items: center;
  width: 85vw;
  min-width:720px;
  max-width: 875px;
}

.Header {
  width:100%;
  padding-top: 3px;
  font-family: monaco,monospace;
}
.HeaderTitle{
  width:100%;
  text-align: center;
  font-size: var(--fontsize-xlarge);
}
.HeaderSubTitle{
  width:100%;
  text-align: center;
  font-size: var(--fontsize-medium);
}

.Summary {
  width:100%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top:1%;
  padding-bottom: 1%;
  font-size: var(--fontsize-small);
  font-family: monaco,monospace;
}

.ImportantMessage{
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5%;
  margin-bottom: 3%;
  background-color: lightblue;
  border: 1px solid darkred;
  border-radius: 5px;
  font-size: var(--fontsize-small);
  color:#5a0b0c;
}

.HelpBox{
  background-color: #FDFDFD;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 7%;
  padding-top: 2%;
  margin-bottom: 3%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--fontsize-small);
}
.HelpSendButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  aspect-ratio: 7/1;
  width: 25%;
  margin-left: 70%;
  border: 1px solid lightgray;
  border-radius: 25px;
  font-size: var(--fontsize-small);
  font-weight: bold;
  text-decoration: none;
}
.HelpSendButton:hover {
  background: #124f77;
  color: white;
}


.LoginButtonSections{
  padding-top:0%;
  padding-bottom: 3%;
  display: flex;
  justify-content: flex-end;
}
.LoginButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  aspect-ratio: 7/1;
  width: 35%;
  border: 1px solid lightgray;
  border-radius: 25px;
  font-size: var(--fontsize-small);
  font-weight: bold;
  text-decoration: none;
}
.LoginButton:hover {
  background: #124f77;
  color: white;
}

.RequestSections {
  width:100%;
  display:flex;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}
.LinkRequestBox {
  margin-top:2%;
  margin-bottom:1%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  color: #2C3143;
  text-decoration: none;
  font-size: var(--fontsize-small);
  font-weight: bold;
  width: 42%;
  height: 9vw;
  max-height: 90px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.LinkRequestBox:hover {
  background: #124f77;
  color: white;
  text-decoration: none;
}

.GalaxySections {
  width:100%;
  display:flex;
  justify-content: space-between;
}

.LinkSquareBox {
  margin-top:2%;
  margin-bottom:1%;
  padding-top:3%;
  padding-bottom:2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #2C3143;
  text-decoration: none;
  font-size: var(--fontsize-small);
  font-weight: bold;
  aspect-ratio: 1/1;
  width: 21%;
  max-height: 190px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.LinkSquareBox:hover {
  background: #124f77;
  color: white;
  text-decoration: none;
}

.StatsSection {
  margin-top:2%;
  margin-bottom:1%;
  width:100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display:flex;
  justify-content: space-between;
}


/*
 * App Footer elements
*/
.Footer {
  margin-top:2%;
  padding-top:1%;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fontsize-xsmall);
  border-top: 1px solid lightgray;
}


